<div class="toolbar" role="banner">
  <img
    width="40"
    alt="nacho nachos bro"
    src="assets/bon1.png"
  />
  <a routerLink="/next" style="color: purple;">AN ISLAND OASIS AWAITS</a>
</div>


<h2 style="margin:15px;margin-top: 70px;">Noots Doots</h2>
    
<input type="hidden" #selection>
<div class="terminal" [ngSwitch]="selection.value">
    <pre *ngSwitchDefault>ng generate success + greatness + happiness</pre>
    <pre *ngSwitchCase="'material'">ng add @angular/material</pre>
    <pre *ngSwitchCase="'pwa'">ng add @angular/pwa</pre>
    <pre *ngSwitchCase="'dependency'">ng add _____</pre>
    <pre *ngSwitchCase="'test'">ng test</pre>
    <pre *ngSwitchCase="'build'">ng build --prod</pre>
</div>
